.head {
    padding: 0;
    margin: 0;
    border: 0px;
    height: 43px;
    line-height: 43px;
    background: url(../images/head_back.png) repeat-x;
}
.info_has_info {
    float: right;
    margin-top: 7px;
    margin-right: 18px;
    width: 119px;
    height: 30px;
    background: url(../images/head_info.png) no-repeat -75px -21px;
    _background-image: none;
    _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="resources/images/ie6/head_info_back.png");
    text-align: center;
    font-size: 12px;
    cursor: pointer;
    line-height: 30px;
}
.center {
    padding: 0;
    margin: 0;
    border: 0px;
    width: 100%;
    height: auto;
    position: relative;
    background-color: #444444;
}
#sidebar li {
    width: 100%;
    line-height: 40px;
    border-top: 1px solid #4e4e4e;
    border-bottom: 1px solid #393939;
    text-align: center;
}
#sidebar li a {
    float;
    width: 220px;
    height: 40px;
    line-height:40px;
    display: inline-block;
    cursor: pointer;
    z-index: 99;
    color:#bcbcbc;
    text-decoration:none;
}
.info_has_info_title {
    background: url(../images/head_info.png) no-repeat 0px -45px; *+
    background: url(../images/head_info.png) no-repeat 0px -46px;
    _background: url(../images/ie6/head_info_title.jpg) no-repeat 0px 4px;
    height: 20px;
    color: #e1e1e1;
    padding-left: 18px;
    font-weight: bold;
    line-height: 20px;
    display: inline-block;
}
.info_user {
    color: #ababab;
    font-size: 12px;
    float: right;
    margin-right: 20px;
}

.display_none li a{
    color: #BCBCBC;
}

#sidebar ul ul li {
    border-top: 1px solid #333333;
    border-bottom: 1px solid #202020;
}

.info_done {
    float: right;
    margin-right: 44px;
    margin-top: 7px;
    width: 64px;
    height: 25px;
    background: url(../images/head_info.png) no-repeat 0px -20px;
    _background-image: none;
    _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="resources/images/ie6/head_info_done.png");
    cursor: pointer;
    display: inline-block;
}

#sidebar li a.display_inline {
    background-color: #f8c701;
    color: #000;
    font-weight: bold;
}

.info_photo {
    float: right;
    margin-right: 20px;
    margin-top: 12px;
    width: 213px;
    height: 17px;
    background: url(../images/head_info.png) no-repeat;
    width: 213px;
    _background-image: none;
    _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="resources/images/ie6/head_info_ie6.png");
}




