body {
    margin: 0;
    border: 0;
    padding: 0;
    width:100%;
    height: 100%;
}

ul,li,a,span,img {
    margin: 0;
    padding: 0;
    border: 0;
    margin: none;
    padding: none;
    border: none;
}

.head {
    padding: 0;
    margin: 0;
    border: 0px;
    height: 43px;
    line-height: 43px;
    background: url(../../images/head_back.png) repeat-x;
}

.login_bottom{
    text-align:center;
    bottom:10px;
    margin:20px auto;
}

.login_info {
	width: 950px;
    height: 43px;
	margin:0px auto;
    line-height: 43px;
}

.info_has_info {
    float: right;
    margin-top: 7px;
    width: 119px;
    height: 30px;
    background: url(../../images/head_info.png) no-repeat -75px -21px;
    _background-image: none;
    _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="resources/images/ie6/head_info_back.png");
    text-align: center;
    font-size: 12px;
    cursor: pointer;
    line-height: 30px;
}

.info_has_info div {
    width: 100%;
    margin-top: 5px;
    line-height: 20px;
}

.info_has_info_title {
    background: url(../../images/head_info.png) no-repeat 0px -45px; *+
    background: url(../../images/head_info.png) no-repeat 0px -46px;
    _background: url(../../images/ie6/head_info_title.jpg) no-repeat 0px 4px;
    height: 20px;
    color: #e1e1e1;
    padding-left: 18px;
    font-weight: bold;
    line-height: 20px;
    display: inline-block;
}
.info_has_info_num {
    background: url(../../images/head_info.png) no-repeat -195px -19px; *+
    background: url(../../images/head_info.png) no-repeat -195px -18px;
    color: #fff;
    width: 8px;
    height: 20px;
    padding-left: 5px;
    padding-right: 5px;
    display: inline-block;
    line-height: 20px;
    margin-left: 10px;
    _background-image: none;
    _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="resources/images/ie6/head_info_num.png");
    _backgrond-position: 0px 4px;
}
.info_left_div{
	float:left;
	width:200px;
	height:43px;
	color:#fff;
	font-size:12px;
}
.color_font1{
	color:#b3b3b3;
}
.center{
	width: 960px;
    height: auto;
    margin:30px auto 0px auto;
    overflow:hidden;
    min-height:500px;
    _height:500px; 
    _overflow:visible;
}
.center_title{
	width:950px;
	height:180px;
}
.center_title ul{list-style:none;}
.center_title li{
	float:left;
	width:308px;
    height:180px;
    cursor:pointer;
}
.title_back1{
	background:#2b71ec url(../../images/user_title_back1.png) no-repeat;
	_background-image: none;
    _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="resources/images/user_title_back1.png",sizingMethod='scale');
    position: relative;
	margin-right:12px;
}
.title_back2{
    background:#623dbe url(../../images/user_title_back3.png) no-repeat;
    margin-right:12px;
    _background-image: none;
    _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="resources/images/user_title_back3.png",sizingMethod='scale');
    position: relative;
}
.title_back3{
    background:#bf0956 url(../../images/user_title_back2.png) no-repeat;
     _background-image: none;
    _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="resources/images/user_title_back2.png",sizingMethod='scale');
    position: relative;
}

.context{
	width:960px;
	height:auto;
	margin:12px auto;
	overflow:hidden;
}
#banner{
	width:960px;
	height:236px;
	background:url(../../images/test_banner.jpg) no-repeat;
}
.news_announcement{
	margin-top:12px;
	width:950px;
	height:144px;
}
.left{
	float:left;
	width:409px;
	height:144px;
}
.right_news{
	float:right;
	margin-left:12px;
	width:529px;
	height:144px;
	background:url(../../images/test_ask.jpg) no-repeat;
}
.left_news_left{
	float:left;
	width:209px;
	height:144px;
	background-color:#00a400;
}
.left_news_right{
	float:left;
	width:200px;
	height:144px;
	background:url(../../images/test_news_left.jpg) no-repeat;
}
.news_left_top{
	width:209px;
	height:45px;
	background:url(../../images/news_left_top.png) no-repeat;
	border-bottom:1px solid #008300;
}
.news_left_context{
	width:209px;
	border-top:1px solid #33b633;
}
.a_btn{
	float:right;
	margin-top:18px;
	margin-right:18px;
	width:29px;
	height:13px;
	background:url(../../images/news_left_top_right1.png) no-repeat;
}
.a_btn a{
	width:9px;
    height:13px;
    cursor:pointer;
    display:inline-block;
}
.a_btn_left{float:left;}
.a_btn_right{float:right;}
.left_context_text{
	text-indent:2em;
	margin-left:15px;
	margin-top:10px;
	width:179px;
	height:80px;
	line-height:25px;
	overflow:hidden;
	color:#fff;
}
#list,#info,#index{
	display:none;
}
#list{
	padding-top:20px;
	background:url(../../images/search_back_t.jpg) no-repeat;
}
#seach{
	padding-top:20px;
    background:url(../../images/search_back_s.jpg) no-repeat;
}
#info{
	padding-top:20px;
    background:url(../../images/search_back_i.jpg) no-repeat;
}
.li_list{
	float:left;
	width:308px;
	height:120px;
	margin-bottom:12px;
	margin-right:12px;
	cursor:pointer;
}
.li_list2{
    float:left;
    width:308px;
    height:120px;
    margin-bottom:12px;
    margin-right:12px;
    cursor:pointer;
}
.li_list_color1{background-color:#e65954}
.li_list_color2{background-color:#0076cc}
.li_list_color3{background-color:#faa733}
.li_list_color4{background-color:#00a400}
.li_list_back1{background:url(../../images/cate_back.png) no-repeat;}
.li_list_back2{background:url(../../images/test_back2.png) no-repeat;}
.li_list_back3{background:url(../../images/test_back3.png) no-repeat;}
.li_list_back4{background:url(../../images/test_back4.png) no-repeat;}

.li_list_left{
	float:left;
	width:120px;
	height:120px;
	line-height:120px;
	text-align:center;
	font-size:16px;
	font-weight:bold;
	color:#fff;
}
.li_list_right{
	float:right;
	width:188px;
	height:120px;
}
.info_passowrd{
	width:950px;
	height:149px;
	background-color:#bf0956;
	border-top:1px solid #d56f95;
	border-bottom:1px solid #d56f95;
}
.info_passowrd_title{
	width:950px;
	height:42px;
	border-bottom:1px solid #990745;
}
.info_passowrd_title_img{
	_top:10px;
	width:156px;
	height:22px;
	margin:auto;
	padding-top:20px;
	background:url(../../images/info_title_back.png) no-repeat center center;
	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="resources/images/info_title_back.png",sizingMethod=crop);
    _background-image: none;
    _position: relative;
}
.info_password_text{
	width:950px;
	border-top:1px solid #cc3a78;
}
.info_password_context{
	float:left;
	margin-top:10px;
	margin-left:350px;
	_margin-left:180px;
	font-size:14px;
}
.info_password_context ul{list-style:none; height:50px; width:259px;}
.info_password_context li{
	float:left;
	width:100%;
	margin-top:10px;
	color:#fff;
}
.info_password_context div{
	float:left;
	width:197px;
	padding-bottom:10px;
}
.info_password_btn{
	float:right;
	text-decoration:underline;
	cursor:pointer;
}
.user_info{
	width:100%;
	height:auto;
	margin-top:12px;
}
.user_info_back{
	width:130px;
	height:38px;
	background:url("../../images/user_info_m.png") no-repeat 10px 0px;
	_background-image: none;
    _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="resources/images/user_info_m.png");
    _margin-left:10px;
}
.user_info_m{
	background:url("../../images/admin_back.jpg") repeat-x scroll 0 0;
	width:948px;
	height:38px;
	border-left:1px solid #cdcdcd;
	border-right:1px solid #cdcdcd;
}
.user_form_info{
	width:948px;
	height:270px;
	border:1px solid #cdcdcd;
	border-top:none;
	background-color:#f5f5f5;
	*+margin-top:-19px;
}
.user_info_label{
	float:left;
	width:120px;
	height:30px;
	line-height:30px;
	text-align:right;
	margin-eight:5px;
	display:inline-block;
}
.user_form_info ul{
	list-style:none;
	width:645px;
	margin:0px auto;
	padding-top:30px;
}
.user_form_info li{
	float:left;
    padding-bottom:5px;	
    width:100%;
}
.user_info_input1{
	float:left;
	width:194px; 
	height:30px;
	line-height:28px;
	background:url("../../images/login_icon.png") no-repeat scroll 0 -340px;
	border:0;
}
.user_info_input2{
    width:518px; 
    height:30px;
    line-height:28px;
    background:url("../../images/user_info_input.jpg") no-repeat;
    border:0;
}
.reset{
	background:url("../../images/reset_back.jpg") no-repeat;
	width:68px;
	height:30px;
	border:0;
	color:#fff;
	margin-left:250px;
}
.submit{
    background: url("../../images/bg_3.png") no-repeat;
    width:99px;
    height:30px;
    line-height:29px;
    font-size:14px;
    border:0;
    color:#fff;
    margin-top:5px;
    font-family: "Microsoft YaHei" ! important;
    cursor:pointer;
}

.update_pass{
	position:absolute;
    left:0px;
    top:200px; 
	display:none;
	width:488px;
	height:255px;
	background-color:#ff8400;
}
.update_pass_title{
	width:100%;
	height:50px;
	border-bottom:1px solid #e57700;
	background:url("../../images/update_pass_back.png") no-repeat center center;
	_background:url("../../images/update_pass_back.jpg") no-repeat center center;
}
.update_pass_title_btn{
	background-color:#fff;
	float:right;
	margin-top:0px;
	margin-right:0px;
	width:21px;
	height:21px;
	background:url("../../images/user_update_right.jpg") no-repeat;
	display:inline-block;
	cursor:pointer;
}
.update_pass_context{
	border-top:1px solid #ff9d33;
	width:488px;
}
.user_info_input3{
	width:242px;
	height:30px;
	border:0;
}
.update_pass_context ul{
	list-style:none;
    margin-left:30px;
    margin-top:20px;
    height:auto;
}
.update_pass_context li{
	margin-bottom:5px;
	color:#fff;
}
.reset2{
	width:85px;
	height:33px;
	border:0;
	margin:15px 170px;
	color:#fff;
	background:url("../../images/table_td_btn.png") no-repeat;
	cursor:pointer;
}
.reset3{
    width:85px;
    height:33px;
    border:0;
    color:#fff;
    background:url("../../images/table_td_btn.png") no-repeat;
    cursor:pointer;
}
.info_body_back{
	display:none;
	position:absolute;
	left:0px;
	top:0px; 
	width:100%; 
	height:100%;
	background-color:#000;
    filter:alpha(opacity=50); 
    -moz-opacity:0.5; 
    opacity:0.5;
}
.sp_list_table{
	position:absolute;
    left:0px;
    top:100px; 
	width:950px;
	height:auto;
	margin:0px auto;
	display:none;
	z-index:999;
}
.href{
	color:#B3B3B3;
	text-decoration:none;
}
.sp_info_title{
	width:100%;
	height:50px;
	background:url("../../images/sp_info_title.png") no-repeat center center;
	border-bottom:1px solid #c2c2c2;
}
.sp_info_context{
	width:100%;
	border-top:1px solid #f7f7f7;
}
.sp_info_center{
	width:786px;
	height:348px;
	margin:auto;
	margin-top:70px;
}
.sp_info_left{
	float:left;
	width:388px;
	height:348px;
}
.sp_info_right{
	float:left;
	width:388px;
	height:348px;
	background-color:#2b71ec;
	overflow:hidden;
}
.sp_info_right ul{
	list-style:none;
	width:300px;
	margin:50px;
	margin-top:70px;
}
.sp_info_right li{
	color:#fff;
	height:50px;
}
.info_user{
	float:right;
	color:#fff;
}
.info_done{
	float:right;
	color:#ff6600;
	margin-left:20px;
}
#sp_list{position:absolute; left:0px; top:100px; min-height:400px; width:950px; padding-bottom:10px; display:none; background-color:#fff;}
#sp_list_info{
	position:absolute; left:0px; top:50px;
    display:none;
    background-color:#f3f3f3;
    height:560px;
}
.sp_list_info,.sp_list{
	float:left; 
	margin-left:422px; 
	margin-top:20px;
	width:114px; 
	height:42px; 
	line-height:40px; 
	color:#fff; 
	text-align:center; 
	display:inline-block;
	background:url("../../images/subt_btn.png") no-repeat;
	cursor:pointer;
	font-size:16px;
}
.sex_input,.sex{float:left; margin-top:5px;}
.sex{margin-right:10px;}
#remotePage{width:950px; height:auto; margin:10px auto;}
.list_950px{
	width:950px;
	height:auto;
}

.head_login{
	background: url("../../images/logo_back_new.png") no-repeat;
	_background-image: none;
	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="resources/images/logo_back_new.png",sizingMethod='scale');
    float: left;
    height: 32px;
    margin-left: 20px;
    margin-top: 3px;
    width: 140px;
}
.search_sp_css{
	width:100%;
	margin:10px;
	overflow:hidden;
}
.height_24{
	height:22px;
	overflow:hidden;
}
.height_auto{
	height:auto;
}
.flas{
	float:left;
}
.width_670px{
	width:670px;
	white-space:nowrap;
	height:auto;
	word-break:break-all;
}
.gengd{
	font-size:12px;
	text-decoration:underline;
	cursor:pointer;
	padding:4px 5px;
}
.info_user {
    color: #ababab;
    font-size: 12px;
    float: right;
    margin-right: 20px;
}
