/* CSS Document */
.back_body{ background-color:#3987CF; font-size:12px; }
.font_12{ font-size:12px;}
.input_middel{ vertical-align:middle;}
.cal_cen_login_lab{ width:60px; display:inline-block;}
.f666{ color:#666;}
input{ font-family:Verdana, Arial, Helvetica, sans-serif;}


/* 登录界面*/
.cal_cen_login{ width:778px; height:auto; margin:100px auto;}
.cal_cen_login_top_left{ float:left; width:55px; height:338px; background:url(../../../images/login_bg.png) no-repeat 0px -9px;}
.cal_cen_login_top_mid{ float:left; width:668px; height:268px; background:url(../../../images/login_r2_c4.png) repeat-x; overflow:hidden; padding-top:70px;}
.cal_cen_login_top_right{ float:left; width:55px; height:338px; background:url(../../../images/login_bg.png) no-repeat -723px -12px;}
.cal_cen_login_footer{ float:left; width:778px; height:103px; background:url(../../../images/login_bg.png) no-repeat 0px -354px; overflow:hidden; text-align:center; color:#FFF; font-family:Verdana, Geneva, sans-serif; padding-top:100px;}


.cal_cen_login_headimg{ float:left ;margin:55px 0px; background:url(../../../images/logo.png) no-repeat 20px 0px; height:86px; width:350px; }
.cal_cen_login_h_line{ float:left; background:url(../../../images/login_bg.png) no-repeat -424px 0px; width:1px; height:276px; margin:0px 2px;}
.cal_cen_login_form{ float:left; margin-left:20px; font-size:14px; line-height:23px;}
.cal_cen_login_pwd{ height:23px; width:150px; line-height:23px;}
.cal_cen_login_zddlck{ margin-left:55px;}

.cal_cen_login_btn_submit{ float:left; width:161px; height:47px; cursor:pointer; background:url(../../../images/login_bg.png) no-repeat -524px 0px; border:none; font-size:0px;}
.cal_cen_login_btn_bg{ float:left; background:url(../../../images/login_bg.png) no-repeat -524px 0px; width:161px; height:81px; margin-left:55px; cursor:pointer}

.cal_cen_login_yzm{ height:23px; width:75px; line-height:23px;}
.cal_cen_login_yzimg{ width:70px; height:30px; border:none;}

.cal_cen_tip{ line-height:5px;}
.cal_cen_lab_c{ color:#C00; margin-left:55px;}



