.login_back {
    background-image: url(../../images/background_login.jpg);
}
a,ui,li{
	margin:none;
	border:none;
	border:none;
}
ui,li{
	list-style:none;
}
.view-login {
    padding-top: 0;
    background:none;
}


.view-login .container {
    width: 559px;
    margin:90px auto;
}



.well {
    width:558px;
    height:453px;
    background:url(../../images/new_login_back.png);
    _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='resources/images/new_login_back.png');
    _background:none;
    overflow:visible;
}


a {
    cursor: pointer !important;
}

table {
    word-break: break-all;
}

td a {
    TEXT-DECORATION: underline
}
