.seacher_btn{float:left; margin-top:40px; width:800px;}
.seacher_btn #file{float:left; width:66px; margin-top:3px; margin-left:-68px; height:39px; cursor:pointer;  border:1px solid #cdcdcd; filter:alpha(opacity=0); -moz-opacity:0;opacity:0;}
.title_url{ float:left;margin-top:4px; font-size:16px; line-height:30px; }
.dd_url{ float:left;margin-top:4px; width:333px; height:34px; background:url("../../images/order_icon.png") no-repeat 0px -44px; display:inline-block;line-height:32px;text-indent:5px;}
.push_url{float:left;margin-top:4px; margin-left:10px; width:117px; height:34px; background:url("../../images/order_icon.png") no-repeat; border:none; cursor:pointer;}
.send_url{ float:left;margin-left:30px; width:133px; height:39px; background:url("../../images/button.png") no-repeat -324px -1px;border:none; color:#fff;font-size:14px;cursor:pointer; margin-top:5px;}
.send_text{overflow-y: scroll; float:left; margin-top:20px; width:717px; height:300px; background-color:#fff;}
.head_width{width:100%; padding:0 10px; height:50px;}
.add_date{ line-height:24px; overflow:hidden; padding:10px 0px;}
.add_date_btn{float:left; border:none; width:133px; height:39px; background:url("../../images/button.png")  no-repeat -164px -1px; cursor:pointer;}
.send_date_btn{float:left; border:none; width:134px; height:39px; background:url("../../images/button.png")  no-repeat -324px -1px; cursor:pointer;}
.fitem label{
	width:90px;
	display:inline-block;
	text-align:right;
}
.ftitle{ font-size:14px; font-weight:bold;}
.fitem input{
	width:350px;
}
.updte_btn{
	width:49px;
	height:23px;
	line-height:21px;
	background-color:#e40000;
	color:#fff;
	border:none;
	margin-right:5px;
}
.cz{margin:0 auto;}
.datagrid-view2 div.datagrid-body{height:auto;}
.k-edit-field{float:left; margin-top:20px;*+margin-top:0px;}
.download{
	width:135px;
	height:42px;
	line-height:42px;
	display:inline-block;
	cursor:pointer;
	background:url("../../images/button.png") no-repeat -1px -495px;
	font-family:Verdana, Arial, Helv, Helvetica, sans-serif;
	font-size:18px;
	color:#fff;
	text-align:center;
	text-decoration:none;
}