
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent
}
body {
    background:url(../images/body_back.jpg) repeat 100% 0;
}
ol, ul {
    list-style:none
}
.head{
	width:980px;
	height:80px;
	margin:0px auto;
	position:relative;
}
.head_logo{
	position:absolute;
	left:0px;
	top:0px;
	width:300px;
	height:80px;
	background:url(../images/logo.png) no-repeat 0px 0px;
	_background-image: none;
    _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="resources/images/logo.png",sizingMethod='scale');
}
.user_name{
    position:absolute;
    right:10px;
    top:20px;
    font-size:12px;
}
.time{
	margin-top:30px;
	text-align:right;
}
.end_btn{
	color:#ff6600;
	text-decoration:underline;
	cursor:pointer;
}
.index_menu{
	width:980px;
	height:80px;
	margin:0px auto;
	background:url(../images/index_menu.png) no-repeat;
	line-height: 50px;
}
.index_menu li{
	float: left;
    font-family: "Microsoft Yahei","微软雅黑";
    color: white;
    font-size: 16px;
    position:relative;
}
.index_menu li a{
	margin: 0 15px;
	color: white;
	text-decoration:none;
}
.index_menu li a:hover{
    text-decoration:underline;
}
.index_menu li:hover .ul_display{
	display:block;
}
.menu_cline{
	margin-top:7px;
	_margin-top:14px;
	width: 6px;
	_width:2px;
    height: 30px;
    background: url(../images/index_icons.png) no-repeat 1px -380px;
    _background-image: none;
    _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="resources/images/menu_back.png",sizingMethod='scale');
}
.ul_display{
	position:absolute;
	padding:5px;
	padding-top:0;
	height:auto;
	background-color:#fff;
	border:1px solid #cdcdcd;
	border-top:none;
	display:none;
	*+top:50px;
	*+left:0px;
	z-index:9999;
}
.index_menu .ul_display a{
	margin:0;
	margin:none;
	background: url(../images/pic.png) no-repeat 0px -30px;
    float: left;
    width: 110px;
    height: 30px;
    line-height: 30px;
    color: white;
    font-size: 14px;
    text-align: left;
    padding-left: 25px;
    display:inline-block;
}
.index_menu .ul_display a:hover{
	background: url(../images/pic.png) no-repeat;
}
.ul_display li{
	padding-top:5px;
}
.context{
	width:980px;
	min-height:700px;
	_height:700px;
	_overflow:hidden;
	padding-bottom:20px;
	margin:10px auto;
	background-color:#fff;
	overflow:hidden;
}
.userinfo{
	color:#ff6600;
	text-decoration:underline;
	cursor:pointer;
}

.access{
	display:none;
}