.head_title{
	width: 728px;
	clear: both;
    margin-top: 20px;
    padding: 10px;
    background: #ffffe5;
    border: 1px solid #ffcc7f;
    overflow:hidden;
}
.head_title label{
	float:left;
	margin-left:110px;
}
.level_info{
	width: 728px;
    clear: both;
    margin-top: 20px;
    padding: 10px;
    background: #ffffe5;
    border: 1px solid #ffcc7f;
    overflow:hidden;
}
.level_info .info_title{
	float:left;
	width:120px;
	height:26px;
	line-height:26px;
}
.level_info .info_text{
	float:left;
	width:200px;
	height:26px;
	line-height:26px;
}
.z_png{
	width:16px;
	height:16px;
	background:url(../images/b_red.png) no-repeat;
	display:inline-block;
	margin-top:6px;
}
.x_png{
    width:16px;
    height:16px;
    background:url(../images/s_blue.png) no-repeat;
    display:inline-block;
    margin-top:6px;
}
.g_png{
    width:16px;
    height:16px;
    background:url(../images/s_crown.png) no-repeat;
    display:inline-block;
    margin-top:6px;
}
.info_context{
	float:left;
	width:728px;
	height:auto;
}
.info_context .info_title{
	float:left;
	margin-top:20px;
	width:120px;
	height:26px;
	line-height:26px;
	font-weight:bold;
}
.info_context .info_text{
    width:600px;
    margin-top:20px;
    height:auto;
    
}
.info_context label{
	float:left;
	width:160px;
	height:26px;
	line-height:23px;
}
.il{
	margin-right:40px;
}
.info_context .info_text ul{list-style:none;}
.info_context .info_text li{float:left; width:100%}
.info_text span{float:left;line-height:24px;}

.font{font-weight:bold}

.info_select{
    float:left;
    margin-bottom:20px;
    width:728px;
    height:auto;
}
.info_input_select{
	float:left;
    width:600px;
    height:auto;
}
.combo-panel .panel-body{
	border-right-width:1px;
	border-bottom-width:1px;
}