@CHARSET "UTF-8";
.public_search_btn{
	background: url("../images/public_search.png") no-repeat;
    border: medium none;
    cursor: pointer;
    height: 34px;
    width: 117px;
}
.public_search_input_text{
	background: url("../images/public_select.png") no-repeat;
    border: medium none;
    color: #000000;
    height: 30px;
    line-height: 29px;
    margin: 0;
    width: 128px;
    *margin-left:-40px;
}
.span_style{
	display: inline-block;
    font-size: 14px;
    overflow: hidden;
    vertical-align: middle;
}

.span_style_label{
    display: inline-block;
    font-size: 14px;
    overflow: hidden;
    vertical-align: middle;
    width:100px;
    text-align: right;
}

.line_clear{
	height: 15px;
    width: 100%;
}
.public_search_div{
	margin-left:40px;
}
.public_search_tab{
    margin-left:40px;
}
.public_title{
	margin-left:40px;
	width:900px;
	height:41px;
	background: url("../images/public_tip.png") no-repeat;
}
.public_title_icon{
	float: left;
    margin-left: 10px;
    margin-top: 10px;
    width: 13px;
    height: 19px;
    background: url("../images/public_tip_icon.png") no-repeat;
}
.public_title_text{
	float: left;
    margin-left: 10px;
    margin-top: 11px;
    font-size: 18px;
    font-family: "Microsoft Yahei","微软雅黑";
}
.public_title_btn{
	float:right;
	margin-right:20px;
	margin-top:10px;
	cursor:pointer;
	display:inline-block;
}
.public_title_btn .btn_img{
    width: 22px;
    height: 23px;
}
.r-edit-label{
	float: left;
    height: 30px;
    line-height: 30px;
    text-align: right;
    width: 120px;
}
.r-edit-field {
    float: left;
    height: 30px;
    line-height: 30px;
    margin-left: 10px;
    width: 350px;
}
.r-textbox {
    background: url("../images/login_icon.png") no-repeat scroll 0 -340px ;
    border: 0 none;
    float: left;
    height: 30px;
    line-height: 29px;
    overflow: hidden;
    width: 194px;
}
.f-information{
	height:auto;
	overflow:hidden;
}
.f-information li{
	float:left;
	width:100%;
	margin-top:10px;
}
.r-submit{
	width:82px;
	height:28px;
	border:0;
	text-algin:center;
	line-height:28px;
	background: url("../images/public_submit.png") no-repeat;
	color:#fff;
	cursor:pointer;
}
.r-need{
	color:red;
}
.btn_add{
	width:100px;
	height:28px;
	background: url("../images/add_btn.png") no-repeat;
    color:#fff;
    cursor:pointer;
    border:0;
    text-algin:center;
    line-height:28px;
}
.width100{width:100%;text-align: center;}
.font16{
	font-size:16px;
}
.font18{
	font-size:18px;
}
.font24{
    font-size:24px;
}
.fontweight{
	font-weight:bold;
}
.margintop20{
	margin-top:20px;
	padding-bottom:20px;
	border-bottom:1px solid #cdcdcd;
}
.margintop10{
    padding-top:10px;
}
#addarchiveForm{
	border:1px solid #cdcdcd;
}
.ac_title{
	width:200px;
	height:40px;
	line-height:40px;
	display:inline-block;
	text-align: center;
	padding:0;
	margin:0;
}
.ac_title2{
	float:left;
    width:100px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align: center;
}
.width_101px{
	width:99px;
}
.ac_input{
	width:500px;
    height:30px;
    line-height:30px;
    border:1px solid #cdcdcd;
    padding:0;
    margin:5px;
}
.ac_input2{
    width:230px;
    *+width:228px;
    height:30px;
    line-height:30px;
    border:1px solid #cdcdcd;
    padding:0;
}
.border-left{
	border-left:1px solid #cdcdcd;
}
.border-left-right{
	border-right:1px solid #cdcdcd;
	border-left:1px solid #cdcdcd;
}
.width_500px{
	width:664px;
}
.ac_div{
	border-bottom:1px solid #cdcdcd;
}
.ac_div2{
	float:left;
	width:500px;
	border-left:1px solid #cdcdcd;
}
.span_width{
    width:235px;
    height:30px;
    padding-top:5px;
    padding-bottom:5px;
    padding-left:5px;
}
.overflow{
	overflow:hidden;
}
.span_left_border{
	border-left:1px solid #cdcdcd;
	min-height:30px;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:10px;
	display:inline-block;
}
.width_103px{
	width:106px;
}